<template>
    <div class="learning-trial-page-wrapper">
        <div class="learning-trial-page-container mx-auto">
            <MessageList :messages="messages" />
        </div>
    </div>
</template>
<script setup lang="ts">
import { computed, onBeforeMount } from 'vue';
import MessageList from '../components/MessageList.vue';
import { useHomeStore } from '../store';

const store = useHomeStore();

const messages = computed(() => store.messageList);

onBeforeMount(() => {
    store.getMessageList();
});
</script>

<style lang="scss" scoped>
.learning-trial-page-wrapper {
    width: 100%;
    background: $color-gray;
    min-height: calc(100vh - 50px);
    padding: $content-padding 0;

    .learning-trial-page-container {
        width: 100%;
        max-width: map-get($grid-breakpoints, md);
        padding: $content-padding;
        margin: auto;
        // background: $color-white;
        border-radius: 8px;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    .learning-trial-page-wrapper {
        padding: 8px;
    }
}
</style>
