<template>
    <div class="button-message-item-wrapper">
        <div class="question">
            {{ content.question }}
        </div>
        <div class="buttons">
            <div class="button" v-for="(button, index) in buttons" :key="index">
                <el-button @click="onSelect(button)" :type="button.type">{{
                    button.title
                }}</el-button>
            </div>
        </div>
        <div class="answer" v-if="answer">Tôi chọn {{ answer }}</div>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import {
    IMessage,
    IMessageButtonContent,
    IMessageChoicesContent,
} from '../interfaces';
import { useHomeStore } from '../store';
import learningTrialApiService from '@/common/service/learning-trial.api.service';

const store = useHomeStore();
const choice = ref<string | null>(null);

const props = defineProps<{
    message: IMessage;
}>();

const answer = ref('');

onMounted(() => {
    const content = props.message.content as IMessageChoicesContent;
    answer.value = content.user_answer?.answer_content || '';
});

const content = computed(() => {
    return props.message.content as IMessageChoicesContent;
});

const buttons = computed(() => {
    return content.value.choices as IMessageButtonContent[];
});

function setChoice(_choice: string | null) {
    choice.value = _choice;
}

function onSelect(button: IMessageButtonContent) {
    setChoice(button.navigate_to_id);
    answer.value = button.value || button.title;
    learningTrialApiService.updateMessageAnswer({
        messageId: props.message._id,
        answer: answer.value,
    });
    next();
}

function next() {
    const nextMessageId = choice.value;
    if (!nextMessageId) return;
    store.getMessage(nextMessageId);
}
</script>
