<template>
    <div class="media-message-item-wrapper" @click="next">
        {{ message.content }}
    </div>
</template>

<script setup lang="ts">
import { IMessage } from '../interfaces';
import { useHomeStore } from '../store';

const props = defineProps<{
    message: IMessage;
}>();

const store = useHomeStore();

function getNextId(): number | null {
    return props.message.navigate_to_id;
}

function next() {
    const nextMessageId = getNextId();
    if (!nextMessageId) return;
    store.getMessage(nextMessageId);
}
</script>
