<template>
    <div class="message-container-wrapper" :style="style">
        <slot></slot>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps<{
    isUser: boolean;
}>();

const style = computed(() => {
    return {
        background: props.isUser ? `red` : `white`,
    };
});
</script>

<style scoped></style>
