<template>
    <div class="message-list-wrapper">
        <div
            class="message-item"
            v-for="message in messages"
            :key="message._id"
        >
            <MessageItem :message="message" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { nextTick, watch } from 'vue';
import { IMessage } from '../interfaces';
import MessageItem from './MessageItem.vue';

const props = defineProps<{
    messages: IMessage[];
}>();

watch(
    () => props.messages.length,
    () => {
        nextTick(() => {
            window.scrollTo(
                0,
                document.body.scrollHeight ||
                    document.documentElement.scrollHeight,
            );
        });
    },
);
</script>
