<template>
    <div class="message-item-wrapper">
        <div class="text-message" v-if="message.type === MessageType.TEXT">
            <MessageContainer :isUser="isUser">
                <TextMessageItem :message="message" />
            </MessageContainer>
        </div>
        <div class="text-message" v-if="message.type === MessageType.RICH_TEXT">
            <MessageContainer :isUser="isUser">
                <RichTextMessageItem :message="message" />
            </MessageContainer>
        </div>
        <div
            class="button-message"
            v-else-if="message.type === MessageType.BUTTONS"
        >
            <MessageContainer :isUser="isUser">
                <ButtonMessageItem :message="message" />
            </MessageContainer>
        </div>
        <div
            class="media-message"
            v-else-if="message.type === MessageType.MEDIA"
        >
            <MessageContainer :isUser="isUser">
                <MediaMessageItem :message="message" />
            </MessageContainer>
        </div>
        <div
            class="single-choice-message"
            v-else-if="message.type === MessageType.PRACTICE"
        >
            <MessageContainer :isUser="isUser">
                <ReviseMessageItem :message="message" />
            </MessageContainer>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { MessageType } from '../constants';
import { IMessage } from '../interfaces';
import ButtonMessageItem from './ButtonMessageItem.vue';
import MediaMessageItem from './MediaMessageItem.vue';
import MessageContainer from './MessageContainer.vue';
import ReviseMessageItem from './ReviseMessageItem.vue';
import RichTextMessageItem from './RichTextMessageItem.vue';
import TextMessageItem from './TextMessageItem.vue';

const props = defineProps<{
    message: IMessage;
}>();

const isUser = computed(() => {
    return props.message.is_user;
});
</script>

<style lang="scss" scoped>
.message-item-wrapper {
    background-color: $color-white;
    padding: 8px;
    border-radius: 8px;
}
</style>
