<template>
    <div class="revise-message-item-wrapper">
        <div
            class="question-item"
            v-for="question in toShowQuestions"
            :key="question.question_id"
        >
            <ReviseQuestionMessageItem
                :question="question"
                @on-select="onSelectAnswer"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, nextTick, ref, watch } from 'vue';
import {
    IAnswer,
    IMessage,
    IMessageReviseContent,
    IQuestion,
} from '../interfaces';
import { useHomeStore } from '../store';
import ReviseQuestionMessageItem from './ReviseQuestionMessageItem.vue';

const props = defineProps<{
    message: IMessage;
}>();

const store = useHomeStore();

const content = computed(() => {
    return props.message.content as IMessageReviseContent;
});

const listQuestion = computed(() => {
    return content.value.listQuestion || [];
});

const currentIndex = ref(1);
const toShowQuestions = computed(() => {
    return listQuestion.value.slice(0, currentIndex.value);
});

function getNextId(): string | null {
    return props.message.navigate_to_id;
}

function next() {
    const nextMessageId = getNextId();
    if (!nextMessageId) return;
    store.getMessage(nextMessageId);
}

function onSelectAnswer(question: IQuestion, answer: IAnswer) {
    if (currentIndex.value < listQuestion.value.length) {
        currentIndex.value += 1;
    } else {
        next();
    }
}

watch(
    () => toShowQuestions.value.length,
    () => {
        nextTick(() => {
            window.scrollTo(
                0,
                document.body.scrollHeight ||
                    document.documentElement.scrollHeight,
            );
        });
    },
);
</script>
