<template>
    <div class="revise-question-message-item-wrapper">
        <div class="question" v-html="content"></div>
    </div>
    <div class="choices">
        <div
            class="choice"
            v-for="(answer, index) in question.answers"
            :key="index"
        >
            <el-button @click="onSelect(answer)">{{
                answer.content
            }}</el-button>
        </div>
    </div>
    <div class="answer" v-if="answer">Tôi chọn {{ answer }}</div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { IAnswer, IQuestion } from '../interfaces';

const props = defineProps<{
    question: IQuestion;
}>();

const emit = defineEmits<{
    (event: 'on-select', question: IQuestion, answer: IAnswer): void;
}>();

const answer = ref('');

const content = computed(() => {
    return props.question.content;
});

function onSelect(_answer: IAnswer) {
    answer.value = _answer.content;
    setTimeout(() => {
        emit('on-select', props.question, _answer);
    }, 1000);
}
</script>
