<template>
    <div class="rich-text-message-item-wrapper">
        <div class="content" v-html="message.content"></div>
    </div>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import { IMessage } from '../interfaces';
import { useHomeStore } from '../store';

const props = defineProps<{
    message: IMessage;
}>();

const store = useHomeStore();

function getNextId(): number | null {
    return props.message.navigate_to_id;
}

function next() {
    const nextMessageId = getNextId();
    if (!nextMessageId) return;
    store.getMessage(nextMessageId);
}

onMounted(() => {
    if (!props.message.is_shown) {
        setTimeout(() => next(), 2000);
    }
});
</script>
