<template>
    <div class="text-message-item-wrapper">
        <div class="content" v-html="content"></div>
    </div>
</template>

<script setup lang="ts">
import { typeEffect, useObservable } from '@/common/composables/observables';
import { concatMap, of } from 'rxjs';
import { IMessage } from '../interfaces';
import { useHomeStore } from '../store';

const props = defineProps<{
    message: IMessage;
}>();

const store = useHomeStore();

const content = useObservable(
    of(props.message.content as string).pipe(
        concatMap((value) => typeEffect(value, true)),
    ),
    next,
);

function getNextId(): string | null {
    return props.message.navigate_to_id;
}

function next() {
    if (props.message.is_shown) return;

    const nextMessageId = getNextId();
    if (!nextMessageId) return;
    store.getMessage(nextMessageId);
}
</script>
