<script setup lang="ts">
import { RouterView } from 'vue-router';
</script>

<template>
    <div class="public-layout">
        <div class="app-content">
            <RouterView />
        </div>
    </div>
</template>

<style scoped>
body {
    padding-right: 0;
}
.public-layout {
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
</style>
