@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
}

#app {
    display: block !important;
    width: 100%;
}

@keyframes grow {
    0% {
        max-height: var(--lineHeight);
    }
    100% {
        max-height: calc(var(--lineHeight) * var(--lines));
    }
}

@keyframes carriageReturn {
    0% {
        top: 0;
    }
    100% {
        top: calc(var(--lineHeight) * var(--lines));
    }
}

@keyframes type {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.typewriter {
    --lines: 500;
    --lineHeight: 1.5rem;
    --timePerLine: 2s;
    --time: calc(var(--lines) * var(--timePerLine));
    animation: grow var(--time) steps(var(--lines));
    animation-fill-mode: forwards;
    // background: inherit;
    line-height: var(--lineHeight);
    max-height: var(--lineHeight);
    overflow: hidden;
    position: relative;
    width: 100%;
    /* word-break: break-all; */
}

.typewriter::before {
    content: '';
    animation: type var(--timePerLine) linear infinite,
        carriageReturn var(--time) steps(var(--lines)) var(--lines);
    // background: inherit;
    bottom: 0;
    height: 2rem;
    position: absolute;
    right: 0;
    width: 100%;
}
